/* .QuoteForm {
  border: 1px solid red;
} */
.Quote {
  width: 350px;
  display: block;
  border: 2px solid #000;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-left: 9px;
  padding-bottom: 20px;
}

/* .category {
}
.quoteAuthor {
}

.titleQuote {
} */

.quoteButton {
  outline: none;
  padding: 9px 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 25%;
  margin-right: 15px;
}

.quoteButton:hover {
  border-color: #052555;
  background-color: #0260e8;
}
